body {
    color: white;
    font-family: monospace;

    margin: 4rem;
}
#container {
    text-align: center;
}

#give-cat {
    padding: 10px;

    color: white;
    background-color: pink;

    border: plum;
    border-radius: 20px;
}

#give-cat:hover {
    background-color: plum;
    border: pink;
}